<div class="weather-card">
  <input 
    type="text" 
    class="city-input" 
    [(ngModel)]="city" 
    (keydown.enter)="getWeather()"
  >
  <div *ngIf="!isLoading" class="info">
    <h2 class="location">{{ weatherData.name }} City, {{ weatherData.sys.country }}</h2>
    <h2 class="date">{{ currentDate | date:'EEEE dd MMMM y hh:mm:ss aaa' }}</h2>
  </div>
  <div *ngIf="!isLoading" class="weather-info">
    <h2 class="temperature">{{ (weatherData.main.temp - 272.15).toFixed(1) }}°C</h2>
    <h2 class="description">{{ weatherData.weather[0].main }}</h2>
    <h3 class="min-max">
      {{ (weatherData.main.temp_min - 272.15).toFixed(1) }}°C /
      {{ (weatherData.main.temp_max - 272.15).toFixed(1) }}°C
    </h3>
  </div>
</div>
